.movies-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin: auto;
}
.movies-title{
    margin: 20px auto;
    font-size: 24px;
    text-transform: uppercase;
}
.pagination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
}
.pagination li a {
    cursor: pointer;
    padding: 10px;
    border: 2px solid var(--hover);
    border-radius: 10px;
    margin: 10px;
}
