.thumbnail-wrapper {
    width: 150px;
    height: 200px;
    margin: 10px;
    position: relative;
}

.thumbnail {
    width: 150px;
    height: 200px;
    border-radius: 30px;
}

.thumbnail-overlay {
    opacity: 0;
    position: absolute;
    background-color: none;
    width: 150px;
    height: 200px;
    border-radius: 30px;
    transition:0.3s;
}

.thumbnail-wrapper:hover .thumbnail-overlay {
    opacity:1;
    border:4px solid var(--hover)
}