.form{
    width:50%;
    display:flex;
    background-color: none;
}
.form-input{
    font-family: var(--secondary-font);
    outline:none;
    border: none;
    padding:15px;
    margin: 10px;
    width:50%;
    font-size: 20px;
    background: none;
    color: var(--base-text-color);
}
.form-input:focus{
    border-bottom: 2px solid var(--hover);
}
.form-icon{
    font-size: 30px;
    position: relative;
    top: 25px;
    left: 15px;
    color:var(--base-text-color)
}
