.form-wrapper {
    width:100%
}
.form{
    width:50%;
    display:flex;
    background-color: none;
}
.form-input{
    font-family: var(--secondary-font);
    outline:none;
    border: none;
    padding:15px;
    margin: 10px;
    width:100%;
    font-size: 20px;
    background: none;
    color: var(--base-text-color);
}
.form-input:focus{
    border-bottom: 2px solid var(--hover);
}
.form-icon{
    font-size: 30px;
    position: relative;
    top: 25px;
    left: 15px;
    color:var(--base-text-color)
}

.search-prediction-wrapper{
    position: absolute;
    overflow:auto;
    height:40vh;
    background:var(--secondary-color)
}


.search-prediction-wrapper::-webkit-scrollbar {
    width: 12px;
}

.search-prediction-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px var(--base-text-color);
    border-radius: 10px;
}

.search-prediction-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--secondary-text-color)
}