.trending-section{
    display: flex;
    overflow: auto;
}

.trending-section::-webkit-scrollbar {
    width: 12px;
}

.trending-section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px var(--base-text-color);
    border-radius: 10px;
}

.trending-section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--secondary-text-color)
}
.switch-checked-icon{
    position: relative;
    left:15px;
    font-size: 20px;
    top:3.5px;
    font-family: var(--primary-font);
    color: var(--base-text-color);
}
.switch-unchecked-icon{
    position: relative;
    left:-20px;
    font-size: 20px;
    top:5px;
    font-family: var(--primary-font);
    color: var(--base-text-color);
}
.switch{
    border:2px solid var(--secondary-text-color);
    border-radius: 50px;
}
.trending-title{
    color: var(--base-text-color);
    font-size: 20px;
    margin-bottom: 20px;
    font-family: var(--primary-font);
}
.trending-wrapper{
    width: 80%;
    margin: auto;
    border: 3px solid var(--secondary-text-color);
    padding: 40px;
    border-radius: 30px;
}
.trending-inner-wrapper{
    margin-bottom:20px;
}