.trending-section{
    display: flex;
    overflow: auto;
    width:82.3%;
    margin: auto;
    padding:40px;
}

.trending-section::-webkit-scrollbar {
    width: 12px;
}

.trending-section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px var(--base-text-color);
    border-radius: 10px;
}

.trending-section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--hover);
}
.switch-checked-icon{
    position: relative;
    left:15px;
    font-size: 20px;
    top:3.5px;
    font-family: var(--primary-font);
    color: var(--base-text-color);
}
.switch-unchecked-icon{
    position: relative;
    left:-20px;
    font-size: 20px;
    top:5px;
    font-family: var(--primary-font);
    color: var(--base-text-color);
}
.switch{
    border:1px solid var(--hover);
    height:32px;
    border-radius: 50px;
}
.trending-title{
    padding-right:10px;
    margin-top: 5px;
    color: var(--base-text-color);
    font-size: 20px;
    font-family: var(--primary-font);
}
.trending-wrapper{
    margin-left: 160px;
    display:flex
}