.section {
    margin: 30px;
    padding-top: 10px;
}

.section-title,
.section-link,
.section-icon {
    color: var(--base-text-color);
    font-family: var(--primary-font), sans-serif;
}


.section-icon {
    position: relative;
    margin: 10px;
    top: 15px;
    font-size: 2em;
}

.section-title {
    font-size: 2.3em;
}

.section-link {
    display:block;
    text-decoration: none;
    font-family: var(--secondary-font), sans-serif;
    font-style: normal;
}

.section-link:hover,
.section-link:hover .section-icon {
    color: var(--hover);
    letter-spacing: 1px;
    transition-duration: 0.3s;
}