.footer{
    text-align: center;
    color: var(--base-text-color);
    position: fixed;
    bottom:0;
    left:50%;
    padding:15px;
}
.footer-title{
    font-family: var(--secondary-font);
    padding:10px;
    font-size: 24px;
}
.footer-inner-title{
    font-family: var(--secondary-font);
}
.footer-link{
    margin-left: 10px;
    text-decoration: none;
    color: var(--hover);
}