.prediction-wrapper{
    display:flex;
    background:none;
    margin: 10px;
    border-radius: 20px;
    transition:0.3s;
}
.prediction-wrapper:hover{
    background:var(--secondary-text-color);
    cursor:pointer;
}
.prediction-image{
    margin:20px;
    border-radius: 10px;
}
.prediction-details-wrapper{
    margin-top: 20px;
}
.prediction-details-title,.prediction-details-date{
    color: #FFF
}
.prediction-details-date{
margin-top: 5px;
}