.header,.header-nav-list{
    display:flex;
}
.header{
    padding:30px;
    width:100%;
    justify-content:space-between;
    position:sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 2;
}
.header-nav{
    width:100%;
}
.header-nav-list{
    justify-content:flex-end;
}
.header-nav-list-item{
    padding:20px;
    position:relative;
    top: 8px;
    font-size: 20px;
}
.header-nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--hover);
    font-family: var(--primary-font);
    border:2px solid var(--hover);
    border-radius: 30px;
    padding:15px;
    transition:0.3s;
    background: none;
    cursor:pointer;
}
.header-nav-link:hover{
    border-color: var(--base-text-color);
    color: var(--base-text-color);
}